# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.production

# Build
.next/
dist/
build/

# Prisma
prisma/migrations/

# Storage (data medis!)
storage/
uploads/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
